#entryform {

    height: 40px;
    width: 600px;
    position: absolute;
    top: calc(50% + 50px);
    left: calc(50% - 300px);
    font-size: 0;
}

.formentry:nth-child(odd){
    background: rgb(101, 101, 101);
}

.formentry:nth-child(even){
    background: rgb(125, 125, 125);
}

.formentry {
    width: 100%;
    height: 30px;
    /* background: green; */
}

.innerform {
    display: inline-block;
    line-height: 30px;
    height: 30px;
    font-size: 15px;
    text-align: center;
    vertical-align: bottom;
}

#formtitle {
    display: none;
}

.formnum {
    width: 60px;
    /* background: red; */
}

.formurl {
    width: 440px;
    /* background: yellow; */
    overflow: hidden;
}

.formtype {
    width: 100px;
    /* background: grey; */
}

.formbtn{
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    margin-left: 10px;
    margin-right: 10px;
}
.formbtn::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
    background-image: radial-gradient(circle, #ffffff 10%, transparent 10.01%);
    background-repeat: no-repeat;
    background-position: 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform .3s, opacity .5s;
}

.formbtn:active::after {
    transform: scale(0, 0);
    opacity: .3;
    transition: 0s;
}

.formbtn img{
    width: 20px;
    height: 20px;
    position: absolute;
    left: calc(50% - 10px);
    top: calc(50% - 10px);
}
#formbutton{
    visibility: hidden;
    position: absolute;
    left: calc(50% - 70px);
    bottom: 0px;
    
}
#form-reset{
    background-color: #409EFF;
}

#form-delete{
    background-color: #F56C6C;
}